<div class="navAuth">
    <div class="home-logo">
        <div class="img">
            <div class="logo">
                <div class="circle">
    
                </div>
                <div class="blur">
    
                </div>
    
            </div>
            <span class="imSpan">ClickTik</span>
        </div>
        <div>
            <span>Home</span>
        </div>
    </div>
    <div class="accountSide">
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" placeholder="Search ....." (input)="onSearch($event)">
        </div>
        
            <div class="cart">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>{{numberOfProductsInCard}}</span>
            </div>
        
        <span>Account</span>

    </div>
</div>
