section{
    margin: 0px !important;
    .footer{
        background-color:#1D2939 ;
        color: white;
        padding: 45px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .img{
        display: flex;
        align-items: center;
    
    }
    .imSpan{
        margin-left: 5px;
    }
}